.trailstash-layercontrol {
}
.maplibregl-ctrl.trailstash-layercontrol button.selected,
.maplibregl-ctrl.trailstash-layercontrol button:hover {
  filter: saturate(1);
  box-shadow: 0 0 0 5px #2196f3;
  background: white;
}
.maplibregl-ctrl.trailstash-layercontrol button {
  filter: saturate(0);
  cursor: pointer;
  /*border: 5px solid rgba(0,0,0,0.5);*/
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
  border: 0;
  margin: 5px;
  padding: 0;
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin-right: 10px;
}
.maplibregl-ctrl.trailstash-layercontrol img {
  height: 64px;
  width: 64px;
  border-radius: 10px;
}
