.search.maplibregl-ctrl {
  margin-right: 50px;
}
.active {
  font-weight: bold;
}
.search ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.searchPreset {
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 0 2px black;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 0 7px 0 2px;
  margin: 0 2px 2px 2px;
}
.searchPreset:hover {
  background-color: rgba(242,242,242,0.5);
}
.active.searchPreset {
  color: white;
  background: rgba(0,0,0,0.5);
  font-weight: bold;
}
.active.searchPreset .fa-xmark {
  display: inline-block;
}
.spinner-xmark {
  display: inline-block;
}
.loading.active.searchPreset .spinner-xmark:hover .fa-xmark {
  display: inline-block;
}
.loading.active.searchPreset .spinner-xmark:hover .fa-spinner {
  display: none;
}
.loading.active.searchPreset .fa-xmark {
  display: none;
}
.loading.active.searchPreset .fa-spinner {
  display: inline-block;
}
.active.searchPreset .fa-xmark:hover {
  color: lightgrey;
}
.searchPreset .fa-xmark,
.searchPreset .fa-spinner {
  display: none;
  vertical-align: middle !important;
  height: 13px !important;
  width: 13px !important;
}
.searchPreset img {
  border-radius: 100%;
  vertical-align: middle;
  height: 23px;
}
.fa-spinner {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
